extends baseEmail

block content
    p Hi #{firstName},
        p Forgot your password! Please reset using the below reset password link #{url}
        p (Reset Your by clicking on the link)
        table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
                tr
                    td(align='left')
                        table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                            tbody
                                tr
                                    td
                                        a(href=`${url}`, target='_blank') Reset your password
        p  If not forgot the password ignore this mail
        p - Vicky, CEO